.hi {
    animation-duration: 1.5s;
    transform-origin: 75% 75%;
    display: inline-block;
}

.hi:hover {
    animation-name: hi;
}

@keyframes hi {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(16deg);
    }

    20% {
        transform: rotate(-6deg);
    }

    30% {
        transform: rotate(16deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(16deg);
    }

    60% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#profile-picture {
    clip-path: ellipse(86px 136px at 111px 149px);
}
